<div class="row">
  <h2>Featured Instructors:</h2>
  <% @instructors.each do |instructor| %>
  <div class="col-md-6 <%=instructor.lastname%>" id="col-md-6">
    <div class = "show-description">
      <p><%=instructor.firstname%> <%=instructor.lastname%></p>
      <%=link_to "About Me", instructor_path(instructor), class: "btn btn-primary", role: "button"%>
    </div>
  </div>
  <%end%>
</div>
