<div class="row">
  <h2>Featured Instructors:</h2>
  <% @instructors.each do |instructor| %>
  <div class="col-md-6" id="instructor">
    <p><%=instructor.firstname%> <%=instructor.lastname%></p>

    <div class ="show-description">
      <%=link_to "About Me", instructor_path(instructor), class: "aboutinstructor"%>
    </div>
  </div>
  <%end%>
</div>
