<div class="container">
  <div class="row">
    <h2 class="page-header">Photo Gallery</h2>
    <%@photos.each do |photo|%>
    <div class="col-md-3">
      <div class="thumbnail" id="photothumbnail">
          <div class="caption" id = "photocaption">
            <h4><%=photo.title%></h4>
            <p><%=photo.description.truncate_words(5)%></p>
            <p><a href="#" class="label label-danger" rel="tooltip" title="Expand">Expand</a>
            <a href="#" class="label label-default" rel="tooltip" title="Edit">Edit</a></p>
          </div>
            <img class= "img-responsive" src="<%=photo.photo_url%>" alt="...">
      </div>
     </div>
     <%end%>
   </div>
</div>
